<div 
    class="sidebar" 
    [class.come__from__left]="isOpenFromService && !isPhone" 
    [class.go__back__left]="!isOpenFromService && !isPhone"
    [class.go__down]="isOpenFromService && isPhone" 
    [class.go__up]="!isOpenFromService && isPhone"
>
    <div class="top__side">
        <div class="left__side">
            <a class="topbar__button" (click)="closeSidebar()">
                <mat-icon>
                    menu
                </mat-icon>
            </a>
            @if (!isPhone) {
                <ds-logo class="logo" />
            }
        </div>
        @if (isPhone) {
            <div class="right__side">
                @if (!areNewMessages) {
                    <a href="" class="topbar__button">
                        <mat-icon>
                            chat_bubble
                        </mat-icon>
                    </a>
                }
                @else {
                    <a href="/chat" class="topbar__button">
                        <mat-icon>
                            mark_unread_chat_alt
                        </mat-icon>
                    </a>
                }
                <a href="/account" class="topbar__button">
                    <mat-icon>
                        person
                    </mat-icon>
                </a>
            </div>
        }
    </div>
    <div class="nav__section">
        <a routerLink="/home" dsActiveLink class="navigation">
            <mat-icon>
                home
            </mat-icon>
            HOME
        </a>
        <a routerLink="/matches" dsActiveLink class="navigation">
            <mat-icon>
                favorite
            </mat-icon>
            YOUR MATCHES
        </a>
        <a routerLink="/team" dsActiveLink class="navigation">
            <mat-icon>
                group
            </mat-icon>
            YOUR TEAM
        </a>
        <hr class="line">
        <a routerLink="/settings" dsActiveLink class="navigation">
            <mat-icon>
                settings
            </mat-icon>
            SETTINGS
        </a>
        <a routerLink="/" dsActiveLink class="navigation">
            <mat-icon>
                logout
            </mat-icon>
            LOG OUT
        </a>
    </div>
</div>
