@import "src/styles/variables/palette";
@import 'src/styles/variables/breakpoints';

:host {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.form__wrapper {
  width: 100vw;
  margin-top: 50px;
  text-align: center;

  @media (min-width: $screen-600) {
    // width: 90vw;
  }

  @media(min-width: $screen-1024) {
    width: 50vw;
  }
}

.title__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;

  h1 {
    color: map-get($map: $ds-utils, $key: primary-color);
  }
}

.title {
  font-size: 35px;

  @media (min-width: $screen-600) {
    font-size: 45px;
  }
}

.subtitle {
  font-size: 20px;

  @media (min-width: $screen-600) {
    width: 450px;
    font-size: 24px;
  }
}

.post__registration__form, .second__page {
  overflow-x: scroll;
  overflow-y: auto;
  overflow: scroll;
  border-radius: 30px;
  margin: auto;

  @media (min-width: $screen-600) {
    background-color: map-get($map: $ds-grey, $key: 450);
    width: 80%;
  }

  @media (min-width: $screen-1024) {
    background-color: map-get($map: $ds-grey, $key: 450);
    width: 450px;
    height: 70vh;
  }
}

.second__page {
  width: 650px;
  height: 450px;
}

.scroll__list {
  margin-top: 15px;
  height: 70vh;
  width: 100%;

  @media (min-width: $screen-1024) {
    height: 65vh;
  }
}

.fields__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.languages__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-600) {
    align-items: end;
  }

  @media (min-width: $screen-720) {
    width: 70%;
  }

  @media (min-width: $screen-1024) {
    width: 90%;
  }
}

.field__wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $screen-600) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $screen-720) {
    width: 70%;
  }

  @media (min-width: $screen-1024) {
    width: 90%;
  }
}

.languages__field__wrapper {
  width: 100%;
}

.field {
  width: 200px;
  text-align: center;

  @media (min-width:$screen-600) {
    text-align: left;
  }
}

.label {
  padding-bottom: 21.6px;
}

.languages {
  display: flex;
  flex-direction: column;
}

.image__picker {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.image__wrapper {
  width: 250px;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(1fr, 4);
}

.champion__image {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.buttons {
  text-align: center;
}

.second__part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  width: 50%;
  margin: 20px auto 20px auto;
  text-align: center;
}

.favourites {
  display: flex;
}

.champions, .lanes {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav__field {
  width: 70%;
}

.lane {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.lane__img {
  width: 40px;
  height: 40px;
}

.right__image__container {
  display: none;
  position: relative;
  width: 50vw;

  @media(min-width: $screen-1024) {
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 55%, map-get($map: $ds-utils, $key: background-color) 100%);
  }
}

.right__image {
  height: 100vh;
  object-fit: cover;
}



