<div class="information__wrapper">
  <div class="header">MOST PLAYED</div>
  <img
    class="champion__icon"
    [src]="'assets/images/champions/'+dsRecommendation?.favourite_champion.champion_id+'.png'"
    [matTooltip]="dsRecommendation?.favourite_champion.champion_name"
  />
</div>
<div class="information__wrapper">
  <div class="header">current rank</div>
  <img
    class="champion__rank"
    [src]="'assets/images/ranks/'+(dsRecommendation?.tier | dsTextToSnakeCase)+'.png'"
    [matTooltip]="dsRecommendation?.tier"
  />
</div>
<div class="information__wrapper">
  <div class="header">preferable line</div>
  <img
    class="champion__lane"
    [src]="'assets/images/lanes/'+(dsRecommendation?.favourite_line | dsTextToSnakeCase)+'.png'"
    [matTooltip]="dsRecommendation?.favourite_line"
  />
</div>