@import 'src/styles/variables/palette';
@import 'src/styles/variables/breakpoints';

:host {
  display: block;
}

.chat__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: $screen-840) {
    border-left: 1px solid map-get($map: $ds-grey, $key: 300);
  }
}

.contact__display {
  height: 130px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 20px;
}

.go__back__link {
  @media (min-width: $screen-840) {
    display: none;
  }
}

.option__button {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.image {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: block;
}

.contact__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__name {
  font-size: 30px;
}

.messages__box {
  display: flex;
  flex-direction: column;
  height: 78vh;

  @media (min-width: $screen-840) {
    max-height: 75vh;
  }
}

.messages__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow: scroll;
  // justify-content: center;     <------------   Jest potrzebne jeśli czat jest pusty, ale nie może być, gdy nie jest pusty
}

.message {
  margin-bottom: 22px;
  max-width: 242px;
  padding: 16px 19px 16px 19px;
  text-align: justify;
  border-radius: 20px;
  word-wrap: break-word;
  word-break: break-all;

  @media (min-width: $screen-440) {
    max-width: 60%;
  }

  @media (min-width: $screen-600) {
    margin-bottom: 41px;
    max-width: 575px;
    padding: 26px 31px 26px 31px;
  }

  @media (min-width: $screen-840) {
    margin-bottom: 22px;
    max-width: 242px;
    padding: 16px 19px 16px 19px;
  }

  @media (min-width: $screen-1024) {
    margin-bottom: 41px;
    max-width: 575px;
    padding: 26px 31px 26px 31px;
  }
}

.my__message {
  background-color: map-get($map: $ds-secondary, $key: 300);
  align-self: flex-end;
  margin-right: 19px;

  @media (min-width: $screen-1150) {
    margin-right: 45px;
  }
}

.contact__message {
  background-color: map-get($map: $ds-grey, $key: 400);
  align-self: flex-start;
  margin-left: 16px;

  @media (min-width: $screen-1150) {
    margin-left: 45px;
  }
}

.seen {
  color: map-get($map: $ds-grey, $key: 300);
  align-self: flex-end;
  margin: -19px 20px 0px 0;

  @media (min-width: $screen-600) {
    margin: -35px 46px 1% 0;
  }

  @media (min-width: $screen-840) {
    margin: -19px 20px 0px 0;
  }

  @media (min-width: $screen-1024) {
    margin: -35px 46px 10px 0;
  }
}

.empty__chat {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.write__message {
  padding-top: 10px;
  padding-right: 19px;
  padding-left: 16px;
}

.write__form {
  display: flex;
  gap: 10px;
}

.field {
  width: 100%;
}

.option__buttons {
  display: flex;
  margin-right: 5px;
  gap: 5px;
}

.send__button {
  width: 100px;
  height: 50px;
  background-color: map-get($map: $ds-primary, $key: 200);
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  color: map-get($map: $ds-utils, $key: font-color);
  font-size: 22px;
}

.submit__icon {
  height: 30px;
  width: 30px;
  font-size: 30px;

  @media (min-width: $screen-600) {
    display: none;
  }
}

.submit__text {
  @media (max-width: $screen-600) {
    display: none;
  }
}
