<div class="contact__item__wrapper">
  <div class="image">
    <img src="/assets/icons/profile1.png" alt="Profile Image">
    @if (chat.isActive) {
      <div class="overlay-circle"></div>
    }
  </div>
  <div class="middle">
    <h2 class="name">{{ chat.name }}</h2>
    <div class="message" [ngClass]="{'bold' : chat.unreadMessages > 0}">{{ chat.message }}</div>
  </div>
  <div class="right">
    <h5 class="time"> {{ createdAt }} </h5>
    @if (chat.unreadMessages > 0) {
      <h4 class="new__messages"> {{ chat.unreadMessages }} </h4>
    }
  </div>
</div>
