<div class="wrapper" [ngClass]="{'active' : isActive === true}">
  <div class="image">
    <img src="/assets/icons/profile1.png" alt="Profile Image">
    @if (isOnline) {
      <div class="overlay-circle"></div>
    }
  </div>
  <div class="middle">
    <h2 class="name">{{ name }}</h2>
    <div class="message" [ngClass]="{'bold' : isUnread === true}">{{ message }}</div>
  </div>
  <div class="right">
    <h5 class="time"> {{ time }} </h5>
    @if (newMessages > 0) {
      <h4 class="new__messages"> {{ newMessages }} </h4>
    }
  </div>
</div>
