<h2 class="welcome">Welcome to</h2>
<div class="wrapper">
  <ds-logo class="title" />
  <h3 class="description">The perfect place where you can find a dream team mate that you deserve.</h3>
</div>
<div class="actions">
  <a
    class="action__button"
    dsButton
    dsButtonType="primary"
    dsButtonCutCorner="top-left"
    (click)="login()"
  >
    Log in
  </a>
  <a
    class="action__button"
    dsButton
    dsButtonType="secondary"
    dsButtonCutCorner="bottom-right"
    (click)="register()"
  >
    Sign up
  </a>
</div>
