$ds-utils: (
  background-color:#2a3035,
  font-color:#fff,
  primary-color: #CCA856
);

$ds-primary: (
  50: #FFF4C5,
  100:#ffe785,
  200:#dbba6e,
  300:rgb(199, 166, 105),
  400:rgb(155, 128, 77),
  500:#A28241,
  600:#785D2B,
  700: #4E3715,
  800: #241100,
  900: #000000,
  A100: #ffe785,
  A200: #dbba6e,
  A400: rgb(155, 128, 77),
  A700: #4E3715,
  contrast: (50 : blue,
    100 : blue,
    200 : blue,
    300 : blue,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : blue,
    A200 : blue,
    A400 : blue,
    A700 : blue,
  )
);

$ds-secondary: (
  100:#C5ECFF,
  200:#45C7E5,
  300:#349CB2,
  400:#23717F,
  500:#11454B,
  600:#001A18,
  contrast: (100:#000,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-grey: (
  100:#fff,
  200:#CCCCCC,
  300:#999999,
  400:#666666,
  450:#484b4e,
  500:#333333,
  600:#000000,
  contrast: (100:#000,
    200:#000,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-danger: (
  100:#FFCDBB,
  200:#CF8272,
  300:#9E3729,
  400:#7C251C,
  500:#59120E,
  600:#370001,
  contrast: (100:#000,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-success: (
  100:#44ce62,
  200:#2b823e,
  300:#2e8e42,
  400:#1d5b2a,
  500:#0c2812,
  600:#000000,
  contrast: (100:#fff,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);