$ds-primary-material: (
  50: #e1f4fc,
  100: #b3e3f9,
  200: #81d1f5,
  300: #4fbef0,
  400: #29b0ed,
  500: #03a2ea,
  600: #039ae7,
  700: #0290e4,
  800: #0286e1,
  900: #0175db,
  A100: #ffffff,
  A200: #cfe6ff,
  A400: #9ccbff,
  A700: #83beff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ds-utils: (
  background-color:#2a3035,
  font-color:#ccc,
);

$ds-primary: (
  100:#FFF4C5,
  200:#CCA856,
  300:#A28241,
  400:#785D2B,
  500:#4E3715,
  600:#241100,
  contrast: (100:#000,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-secondary: (
  100:#C5ECFF,
  200:#45C7E5,
  300:#349CB2,
  400:#23717F,
  500:#11454B,
  600:#001A18,
  contrast: (100:#000,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-grey: (
  100:#fff,
  200:#CCCCCC,
  300:#999999,
  400:#666666,
  450:#484b4e,
  500:#333333,
  600:#000000,
  contrast: (100:#000,
    200:#000,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-danger: (
  100:#FFCDBB,
  200:#CF8272,
  300:#9E3729,
  400:#7C251C,
  500:#59120E,
  600:#370001,
  contrast: (100:#000,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);

$ds-success: (
  100:#44ce62,
  200:#2b823e,
  300:#2e8e42,
  400:#1d5b2a,
  500:#0c2812,
  600:#000000,
  contrast: (100:#fff,
    200:#fff,
    300:#fff,
    400:#fff,
    500:#fff,
    600:#fff,
  )
);