@import 'src/styles/variables/palette';
@import 'src/styles/variables/breakpoints';

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $screen-440) {
    padding-left: 0px;
  }
}

.search__bar {
  margin: auto;
  margin-top: 40px;
  height: 80px;
  width: 90%;

  @media (min-width: $screen-840) {
    width: 80%;
  }
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.search {
  width: 320px;
}

.input__icon {
  margin-left: 10px;
}

.list {
  height: calc(100vh - 130px - 50px);      
  width: 100%;
  padding-right: 15px;

  @media (min-width: $screen-840) {   
    height: calc(100vh - 130px - 60px); 
  }
}

.chat__item {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;

  @media (min-width: $screen-440) {
    width: 90%;
    max-width: 500px;
    margin-bottom: 30px;
  }
}
