<div class="search__bar">
    <mat-form-field class="search">
      <div
        class="input__icon"
        matPrefix
      >
        <mat-icon>search</mat-icon>
      </div>

      <input
        matInput
        name="nickname"
        placeholder="Search"
        [formControl]="control"
      >
    </mat-form-field>
</div>
<div class="list__wrapper">
  @if (filteredChats$ | async; as displayedChats) {
    <cdk-virtual-scroll-viewport
      itemSize="50"
      class="list"
    >
      <div
        *cdkVirtualFor="let chat of displayedChats"
        class="chat__item"
      >
        <ds-contact-item
          dsActiveLink
          [routerLink]="pathToMessages+chat.id"
          [chat]="chat"
          (click)="goToChat(chat.id)"
        />
      </div>
    </cdk-virtual-scroll-viewport>
  }

</div>
