<div class="wrapper">
  <div class="header">
    <h2 class="title">Forgot password?</h2>
    <p class="sign__up__link">Don't worry, happens to the best of us.</p>
  </div>

  <form [formGroup]="form" class="registration__form">
    <div>
      <p class="reset__paragraph">Enter your e-mail to receive your password reset instruction.</p>
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error>
          Required proper email
        </mat-error>
      </mat-form-field>
    </div>
  </form>


  <div class="buttons">
    <button type="submit" class="action__button recovery__button" dsButton dsButtonType="primary"
      dsButtonCutCorner="top-left" [disabled]="form.invalid" (click)="sendRecoveryLink()">
      Send me a recovery link
    </button>
    <button type="submit" class="action__button" dsButton dsButtonType="secondary" dsButtonCutCorner="bottom-right"
      routerLink="">
      Exit
    </button>
  </div>
</div>